@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

:root{
    background-color: black;
    background-repeat: no-repeat;
    position: sticky;
    background-size: cover;
}

.title{
    font-family: "Roboto";
    font-size: 40px;
    text-align: center;
    color: white;
    text-decoration: underline 5px solid;
}

.image--one{
    position: relative;
    left: 150px;
}

.image--two{
    position: relative;
    left: 1200px;
    top: 100px;
}

.image--three{
    position: relative;
    left: 150px;
    top: 200px;
}

.info--one{
    color: white;
    position: relative;
    bottom:1380px;
    left: 650px;
    font-size: 12px;
}

.info--two{
    color: white;
    position: relative;
    bottom: 880px;
    left: 760px;
    font-size: 12px;
}

.info--three{
    color: white;
    position: relative;
    bottom:350px;
    left: 650px;
    font-size: 12px;
}

.Source-Code{
    position: relative;
    text-align: center;
    top: 200px;
}
.Source-Code p{
    color: white;
    font-size: 30px;
}
.Source-Code a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.Source-Code a:hover{
    color: rgb(30, 190,214);
}
